a{
    text-decoration: none;
    
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    display: block;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
.address{
    font-style: none;
    font-style: normal;

}

.a-sos {

    display: flex; 
    display: inline-flex; 
    align-items: center; 
    text-decoration: none; 
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;  
  }
  
  
  .icon-sos {
    fill: #AFB1B8;
  
    width: 20px; 
    height: 20px; 
    transition: transform 0.3s, fill 0.3s; }
  
  .a-sos:hover,
  .a-sos:focus { 
    display: flex;
    height: 44px; 
    width: 44px;
    justify-content: center;
     border-radius: 50%;
    background-color: #2196F3;
    .icon-sos {
      fill: #FFFFFF; 
  }
  }
  
  .h-sos{
   
    width: 231px;
    color: #FFF;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-left: 32px;
  }
  
  
  
  
  .contact-link:hover,
  .contact-link:focus{
    color: #2196F3;
   .icon-item{
      fill: #2196F3;
    }
  }
  .icon-item:hover,
  .icon-item:focus{
    fill: #2196F3;
  }
  .icon-item {
  
    margin-right: 10px;
    width: 16px;
  height: 16px;
    fill: #AFB1B8;
    transition: fill 0.3s;
  }
  
  .contact-link:hover .icon-item {
    fill: #2196F3;
  }
  .clients-icon:hover{
  border: 1px solid #2196F3;
  }
  .command-sos{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 28px;
  }
  .address{
    display: flex;
    
  }
  
  .svg{
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .clants-link:focus{
    .clients-icon{
  fill: #2196F3;
    }
  }
  .addr-ul{
    margin-right: 70px;
    /* width: 241px; */
    height: 40;
    text-align: left;
    padding-left: 215px; 
  }
  
  .qwer{
  display: flex;
  width: 241px;
  align-items: center;}
  .helpp{
    display: flex;
    width: 241px;
    align-items: center;
    flex-direction: column;
  }
  .containerrr{
    width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  }

  .rty{
    line-height: normal;
  }