@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --akcen-tcolor:#2196F3;
    --logo-colot:#000;
    --main-text:#212121;
    --et-textcolor:#757575;
    --title-color:#FFFFFF;
    --tem-background:#F5F4FA;
    --footer-background:#2F303A;
    --adres-color:rgba(255, 255, 255, 0.60);
    --line-color:#ECECEC;
    --borter-color:#EEEEEE;
}
:root {
    --background: rgb(10, 14, 243);
    --color: rgb(255, 255, 255);
    --background2: rgb(0, 0, 0);
    --background3: rgb(190, 192, 196);
  }

    body {
      font-family: "Roboto";
     };
    
.effective-caption{
  color: var(--title-color);
text-align: center;
line-height: 60px;
font-size: 44px;
font-weight: 900;
line-height: 136.364%;
letter-spacing: 2.64px;
text-transform: uppercase;
}
.button{
  border-radius: 4px;
background: var(--akcen-tcolor);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color:var(--title-color);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 187.5%; 
letter-spacing: 0.96px;
}
.webstudio{
color:var(--logo-colot);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
}
.web{
  color: var(--akcen-tcolor);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
}
.contact-list{
  color: var(--et-textcolor);
font-size: 14px;
font-weight: 500;
letter-spacing: 0.28px;
}
.ability-heading{
  color: var(--main-text);
  line-height: 16px;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.42px;
text-transform: uppercase;
}
.ability-subtitle{
  color:var(--et-textcolor);
  line-height: 24px;
font-size: 14px;
font-weight: 400;
line-height: 171.429%;
letter-spacing: 0.42px;
}
.engaged-title{
  line-height: 42px;
  color: var(--main-text);
text-align: center;
font-size: 36px;
font-weight: 700;
letter-spacing: 1.08px;
}

.command-subject{
  color: var(--main-text);
  text-align: center;
  line-height: 42px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.command-name{
  color: var(--main-text);
text-align: center;
line-height: 19px;
font-size: 16px;
font-weight: 500;
letter-spacing: 0.48px;
}
.nazwa{
  color: var(--et-textcolor);
text-align: center;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.48px;
}
.mi{
  color: var(--title-color);
font-size: 14px;
font-weight: 400;
line-height: 171.429%; 
letter-spacing: 0.42px;
}
.addr{
  color: var(--color);
font-size: 14px;
font-weight: 400;
line-height: 171.429%; 
letter-spacing: 0.42px;
}
.spusok{
  color:var(--main-text);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 162.5%; 
letter-spacing: 0.48px;
display: inline;
list-style: none;
}

.effective{
  background-color: #2F303A;
}
a{
  color: var(--main-text);
font-size: 14px;
font-weight: 500;
letter-spacing: 0.28px;
}
.img{
  color: var(--main-text);
text-align: center;
font-size: 16px;
font-weight: 500;
letter-spacing: 0.48px;
}
.command-profession{
  line-height: 19px;
  color: var(--et-textcolor);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
}
.address-wylica{
  color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-weight: 400;
line-height: 171.429%; 
letter-spacing: 0.42px;
}
.contact-link{
  color: var(--et-textcolor);
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
.addr-link{
  color: var(--et-textcolor);
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
.footer{
  background: #2F303A;
}

.contact-link{color: var(--et-textcolor);
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;}
.addr-link{color: var(--et-textcolor);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;}

.nav-link{
  color: var(--main-text);
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
.command{
  background: #F5F4FA;
}
[type="a"]:hover{
  background-color: var(--title-color);
   color:var(--akcen-tcolor) ;}
  .effective-caption{color: var(--title-color);
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 60px; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;}