:root {
    --background: rgb(10, 14, 243);
    --color: rgb(255, 255, 255);
    --background2: rgb(0, 0, 0);
    --background3: rgb(190, 192, 196);
  }






[type="button"]:hover{
    color: var(--color);
    background-color:var(--background) ;
}
#tt{
    background-color: var(--background2);
}
#h1{
    color:var(--color) ;
}
#gre{
    background-color: var(--background3);
}
#footer{
    background-color: var(--background2);
}
#wit a{
    color: var(--color);
}
#qwe{
    background-color: var(--background);
}