:root {
    --background: blue;
    --color: white;
    --background2: black;
    --background3: gray;
  }






[type="button"]:hover{
    color: var(--color);
    background-color:var(--background) ;
}
#tt{
    background-color: var(--background2);
}
#h1{
    color:var(--color) ;
}
#gre{
    background-color: var(--background3);
}
#footer{
    background-color: var(--background2);
}
#wit a{
    color: var(--color);
}
#qwe{
    background-color: var(--background);
}