.ability {
    padding-top: 94px;
    padding-bottom: 94px;
 
  
  &__items {
    gap: 30px;
    display: flex;
  }

  &__heading {
    color: $main-text;
    line-height: 16px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  &__subtitle {
    color: $et-textcolor;
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
  } 
}