.effective {
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 
  &-captionnn{
    width: 696px;
    color: $title-color;
  text-align: center;
  line-height: 60px;
  font-size: 44px;
  font-weight: 900;
  line-height: 136.364%;
  letter-spacing: 2.64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  }
 }