.header{
 &__box {
    display: flex;
    align-items: center;
  }
  
  &__logo {
    color: $logo-colot;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
   }
   .nav{
  &__list {
    display: flex;
    gap: 50px;
  }

&__link {
    color: $main-text;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }}
  .contact{
 &__list {
    display: flex;
    gap: 30px;
    color: $et-textcolor;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    margin-left: auto;
  }
  
&__link {
    display: flex;
    align-items: center;
    color: $et-textcolor;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
}
.webstudio {
  color: $logo-colot;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  margin-right: 93px;
}
.web {
  color: $akcen-tcolor;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
