.modal{
    width: 528px;
    height: 581px;
    border-radius: 4px;
background: #FFF;
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);

&__buton{
    width: 18px;
    height: 18px;
}
&__close{
 background-color: #FFF;
 width: 30px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
border-radius:  50%; 
// border:  1px solid rgba(0, 0, 0, 0.10);
position: absolute;
right: 0;
background-color: transparent;
outline: 1px solid rgba(0, 0, 0, 0.20);
border: none;
right: 8px;
    top: 8px;
}  
&__close:hover,
&__close:focus{
    &__buttonsvg{
      fill: #2196F3;
    }
    }
&__butt{
    margin-left: 165px;
    margin-top: 30px;
    width: 200px;
height: 50px;
border-radius: 4px;
background: #188CE8;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border: none;
}
}