.offers {
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    gap: 30px;
    padding-left: 0px;
    padding-right: 0px;
    flex-wrap: wrap;
    border-top: var(--line-color) solid 1px;
  }
  

  