.offers {
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    gap: 30px;
    padding-left: 0px;
    padding-right: 0px;
    flex-wrap: wrap;
    border-top: $line-color solid 1px;

  &__title{
    color: var(--main-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 200% */
    letter-spacing: 1.08px; 
  } 
  &__subtitle{
    color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;  
    padding-bottom: 20px;
    padding-left: 24px;
  }
  &__ul{
    display: flex;
     /* justify-content: space-evenly; */
     flex-wrap: wrap;
     gap: 30px;
    }
    &__title{
    margin-bottom: 4px;
    padding-top: 20px;
    padding-left: 24px;
    } }